* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.pop-sub-main {
        padding: 5% 6%;
}

.pop-head {
    font-size: 2.5rem;
    font-weight: 700;
}


.descrip-para {
    color: grey;
    font-size: 18px;
}

.cont-descr {
    font-size: 19px;
    font-weight: 700;
}

.head-select li {
    font-weight: 700;
    font-size: 18px;
}


.fa-save {
    font-size: 36px;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    /* margin: 21px; */
}

.card-size {
    width: 33%;
    height: 100%;
    /* border : 1px solid blue; */
}

.card {
    border-radius: 0px 12px 0px 12px;
}

.card-data {
    /* border: 2px solid red; */
    padding: 26px;
}


.descrip-cardpara {
    font-size: 16px;
    color: black;
}