* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}

.head-select li {
    font-weight: bolder;
    padding: 16px;
}

.head-btn {
    background-color: #2887ff;
    color: white;
}

.banner-img1 {
    background-image: url(../BUSASSET/background6.jpg.jpeg);
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img2 {
    background-image: url(../BUSASSET/bus.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-title {
    /* border: 1px solid #7aff00; */
    width: 100%;
    /* padding: 25%; */
    /* padding-top: 0%; */
    height: 100%;
}

.cont {
    width: 100%;
    /* border: 2px solid red; */
}

.banner-inner {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid green;
}


.banner-ent {
    margin-left: 10%;
}

.bus-img {
    width: 40%;
}

.bus-img img {
    width: 100%;
    height: 100%;
}

.busbook-btn {
    padding: 15px 25px;
    background-color: #2887ff;
    color: white;
}



.pop-par {
    font-size: 2.5rem;
    font-weight: 700;
}

.flut-img1 {
    width: 30%;
    /* height: 25%; */
}

.flut-img1 img {
    width: 100%;
}


.pop-img-main {
    margin: 75px 0px;
}



.flut-desc .flut-btn {
    background: blue;
    color: white;
}


.cards-trigger {
    background-color: #f3f4f6;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}


.cards {
    background-color: #2887ff;
    display: none;
}

/* .container {
    width: 30%;
}

.container:hover .cards {
    display: block;
}

.container:hover .cards-trigger {
    display: none;
} */

.bus-cards {
    /* padding-top: 77px; */
    height: 100%;
}

.bus-box {
    border: 2px solid red;
    height: 246px;
    margin-top: 30px;
}


.card-title {
    /* margin: 45px 13px 20px 17px; */
    margin-top: 49px;
}

.card-trigger {
    display: none;
}

.cont-1:hover .card-data {
    display: none;
}

.cont-1:hover .card-trigger {
    display: block;
    /* height: 100%; */
}


.card-tri {
    border: 1px solid yellow;
    padding: 21px;
    height: 100%;
    background-color: #2887ff;
}

.cont-spa {
    margin-top: 20px;
    margin-bottom: 13px;
}

/* ---------------- */
/* Book a bus  */
.busbook-img {
    height: 552px;
    width: 85%;
}


.busbook-img img {
    height: 100%;
    width: 100%;
}


.bus-now {
    background-image: url(../BUSASSET/showcase2.jpeg);
    height: 10%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.bus-now img {
    height: 100%;
    width: 100%;
}

.bus-now h5 {
        padding: 10px;
}