* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}

.head-select li {
    font-weight: bolder;
    padding: 16px;
}

.banner-img1 {
    background-image: url(../BUSASSET/background6.jpg.jpeg);
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img2 {
    background-image: url(../BUSASSET/bus.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-title {
    /* border: 1px solid #7aff00; */
    width: 50%;
    padding: 100px;
}

.cont {
    width: 100%;
    /* border: 2px solid red; */
}