body {
    font-family: "Inter", sans-serif;
}


* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


.header-main {
        height: 73px;
}

.head-pad {
    padding: 13px;
    color : white;
}

.header-bar {
    width: 50%;
}

.menu-bar {
    width: 75%;   
}

.head-pad-menu {
        padding: 25px;
}

.head-icon {
    width: 13%;
}

.header-btn {
    width: 30px;
}

img {
    width: 100%;
    height: 100%;
}


