* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body h1 h2 h3 h4 h5 h6 {
    font-family: "Lato", sans-serif;
}

.weblogo {
    border: 2px solid red;
    background-color: blue;
    /* DOUT */
    position: relative;
}

.logoheader {
    display: flex;
    border: 2px solid black;
    padding: 14px;
    gap: 40px;
    width: 100%;
    position: fixed;
}

/* .menubar-main {
    position: relative;
    left: 96.5%;
}

.menubar {
    display: flex;
    border: 2px solid red;
    height: 49px;
    width: 51px;
    flex-direction: column;
    gap : 5px;
}

.menubar .menu-item {
    height: 20%;
    background-color: black;
    margin: 2px 7px;
} */
.img-header-main {
    background-image: url("../ASSETS/parallax1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.website-title .heig2 {
    border: 2px solid black;
    background-color: black;
    color: white;
    letter-spacing: 6px;
    padding: 9px;
    text-align: center;
    display: inline;
}


.about-main {
    /* border: 2px solid blue; */
    margin: 0px 310px;
    padding: 52px 11px;
}

.about-content {
    padding: 10px;
}

.about-content h3 {
    font-family: "Lato", sans-serif;
    color: #222121d9;
    margin: 14px 0px;
    text-align: center;
}

.about-content h5 {
    font-style: italic;
    color: #6c5f5f;
    margin: 18px 0px;
    text-align: center;
}

.about-content p {
    font-size: 13px;
    color: #817676;
    margin: 18px 0px;
}

.about-sub {
    display: flex;
    gap: 20px;
}

.container h4 {
    text-align: center;
    margin: 25px 0px;
}

.about-img {
    /* border: 2px solid blue; */
    background-image: url(../ASSETS/avatar_hat.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 219px;
    width: 327px;
    background-size: contain;
}

.about-sub p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}


.about-perc {
    /* border: 2px solid green; */
    padding: 14px 0px;
}

.about-perc .rea {
    text-align: center;
    margin: 20px 0px;
}

.web-perc h4 {
    letter-spacing: 7px;
    padding: 10px;
}

.web-box {
    /* border: 2px solid black; */
    width: 100%;
    text-align: center;
}

.web-box .lef-pho {
    width: 90%;
    padding: 5px 0px;
    height: fit-content;
    /* border: 1px solid red; */
    position: relative;
    background-color: #616161;
}

.web-box .rig-pho {
    width: 12%;
    padding: 14px 0px;
    height: fit-content;
    /* border: 1px solid red; */
    position: absolute;
    left: 100%;
    bottom: 0px;
    background-color: #f1f1f1;
}


.web-box .lef-des {
    width: 85%;
    padding: 5px 0px;
    height: fit-content;
    /* border: 1px solid red; */
    position: relative;
    background-color: #616161;
}

.web-box .rig-des {
    width: 18%;
    padding: 14px 0px;
    height: fit-content;
    /* border: 1px solid red; */
    position: absolute;
    left: 100%;
    bottom: 0px;
    background-color: #f1f1f1;
}


.web-box .lef-shop {
    width: 70%;
    padding: 5px 0px;
    height: fit-content;
    /* border: 1px solid red; */
    position: relative;
    background-color: #616161;
}

.web-box .rig-shop {
    width: 44%;
    padding: 14px 0px;
    height: fit-content;
    /* border: 1px solid red; */
    position: absolute;
    left: 100%;
    bottom: 0px;
    background-color: #f1f1f1;
}



.portof-head {
    background-color: #616161;
    display: flex;
    justify-content: space-evenly;
    color: white;
}


.portof-head .head {
    padding: 28px;
    text-align: center;
    font-size: 23px;
}

.portof-head .tit {
    font-size: 14px;
    margin: 10px;
}


/* .porto-back {
background-color: #616161;
} */

.porto-back .back-image {
    background-image: url(../ASSETS/parallax2.jpeg);
    /* background-position: 72px; */
    height: 322px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.back-image .back-image-tit {
    letter-spacing: 7px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 13px;
}

.images-main {
    /* border: 1px solid black; */
    margin: 0px 310px;
    padding: 10px 2px;
}

.images-main .sent {
    text-align: center;
}

.sent h2 {
    margin: 10px 0px;
}

.sent h5 {
    margin: 17px 0px;
}


.img-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 12px 12px;
    justify-content: space-around;
}

.img-item img {
    /* DOUT */
    height: 149px;
    width: 162px;
}


.load {
    /* border: 2px solid blue; */
    margin: 31px 0px;
    padding: 12px 0px;
    text-align: center;
}


.load .btn {
    padding: 12px;
    border: 2px solid #eae1e1;
    background-color: #eae1e1;
    color: black;
    font-size: 12px;
}


.cam-img {
    background-image: url(../ASSETS/parallax3.jpeg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index : 3; */
}


.cam-img h2 {
    letter-spacing: 6px;
    background-color: #0000ff94;
    font-size: 29px;
    color: white;
    padding: 8px 0px;
    /* z-index : 1; */
}


.main-wor {
    /* border: 1px solid black; */
    margin: 0px 310px;
    padding: 30px 7px;
}

.sub-feed {
    text-align: center;
    /* border: 2px solid red; */
    /* margin: 10px; */
    padding: 10px;
}

.sub-feed h2 {
    margin: 14px 0px;
}

.sub-feed h5 {
    margin: 14px 0px;
}


.sub-add {
    display: flex;
    gap: 33px;
}

.sub-addr {
    margin: 9px 0px;
    padding: 10px 15px;
}

.sub-addr ul li {
    margin: 7px 2px;
}

.sub-img {
    height: 159px;
    width: 296px;
    padding: 8px 0px;
    /* border-radius: 19px; */
}

.sub-img img {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.sub-add p {
    margin-top: 20px;
    margin-bottom: 3px;
}

.sub-add .box {
    width: 100%;
    /* border: 1px solid black; */
    padding: 13px 3px;
}

.box .name {
    padding: 8px 7px;
    width: 48%;
    margin: 5px 2px;
}

.box .em {
    padding: 8px 7px;
    width: 49%;
    margin: 5px 2px;
}

.box .mes {
    padding: 8px 6px;
    width: 100%;
    margin: 10px 3px;
}


.box .btn {
    padding: 9px 7px;
    margin: 5px 2px;
    background-color: black;
    color: white;
    position: relative;
    left: 338px;
    font-size: 13px;
}


.footer-main {
    background-color: black;
    /* border: 2px solid blue; */
    /* margin: 5px 2px; */
    padding: 5px 16px;
}

.footer-sub {
    text-align: center;
    padding: 29px 5px;
}

.footer-sub .foot-btn {
    padding: 10px;
}


.footer-sub h5 {
    color: white;
    margin: 20px 5px;
    ;
}

.main-div {
    padding: 50px 0px;
    margin: 0px 210px;
    /* border: 2px solid green; */
}

.main-feed {
    /* border: 2px solid blue; */
    text-align: center;
}

.main-feed h1 {
    margin: 14px 0px
}

.main-feed h4 {
    margin: 14px 0px
}

.main-addr {
    /* add  */
    /* border: 2px solid blue; */
    margin: 24px 0px;
    display: flex;
    gap: 20px;
}

.sub-image {
    margin: 12px 0px;
    width: 40%;
    height: 100%;
    /* border: 2px solid red; */
}

.sub-image img {
    width: 100%;
    border-radius: 7px;
}

.sub-address {
    /* border: 2px solid green; */
    margin: 10px 0px;
    width: 100%;
    padding: 13px 0px;
}

.sub-address ul li {
    font-size: 20px;
    color: #000000c7;
    margin: 8px 6px;
}

.sub-address h4 {
    margin-top: 17px;
    margin-bottom: 14px;
    margin-left: 6px;
}

.addr-inp {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.addr-inp .comm {
    /* width: 50%; */
    width: calc(100% / 2 - 10px);
    padding: 10px 8px;
    /* margin: 3px 6px; */
}


.addr-inp .mes {
    /* width: 98%; */
    width: calc(100% / 1 - 10px);
    padding: 10px 8px;
    /* margin: 5px 6px; */

}


.send-btn {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 11px 0px;
    text-align: end;
}

.send-btn button {
    margin: 0px 7px;
    padding: 11px;
    background-color: black;
    color: white;
}



@media screen and (max-width : 992px) {
    .about-main {
        margin: 0px 15px;
        padding: 52px 0px;
    }

    .about-content h3 {
        font-size: 26px;
        margin: 18px 0px;
    }

    .about-content h5 {
        font-size: 15px;
        margin: 22px 0px;
    }

    .about-content p {
        font-size: 19px;
        line-height: 25px;
    }


    .about-sub {
        gap: 43px;
        margin: 0px;
    }

    .about-img {
        height: 283px;
        width: 425px;
    }

    .about-sub p {
        font-size: 15px;
        line-height: 1.6;
    }

    .about-perc .rea {
        font-size: 20px;
    }

    .web-box .lef-pho {
        padding: 8px 0px;
    }

    .web-box .rig-pho {
        padding: 17px 0px;
    }

    .web-box .lef-des {
        padding: 8px 0px;
    }

    .web-box .rig-des {
        padding: 17px 0px;
    }

    .web-box .lef-shop {
        padding: 8px 0px;
    }

    .web-box .rig-shop {
        padding: 17px 0px;
    }

    .portof-head .tit {
        font-size: 18px;
    }


    .porto-back .back-image {
        background-position: 0px -173px;
        border: 2px solid blue;
        height: 390px;
    }

    .back-image-tit h1 {
        position: relative;
        /* DOUT without relative*/
        bottom: 34px;
        text-align: center;
        font-size: 38px;
    }


    .images-main {
        margin: 0px 20px;
        padding: 64px 2px;
    }

    .sent h2 {
        margin: 25px 0px;
    }

    .sent h5 {
        margin: 17px 0px;
        line-height: 1.5;
        font-size: 17px;
    }

    .img-item img {
        height: 162px;
        width: 216px;
        margin: 5px 0px;
    }

    .load .btn {
        padding: 16px;
        font-size: 15px;
    }

    .sub-feed h2 {
        margin: 16px 0px;
    }

    .sub-feed h5 {
        margin: 21px 0px;
        color: #6c5f5f;
        font-size: 17px;
        font-style: italic;
    }

    .main-wor {
        margin: 0px 23px;
        padding: 50px 7px;
    }

    .sub-addr ul li {
        margin: 7px 2px;
        font-size: 20px;
    }

    .sub-add p {
        font-size: 17px;
    }

    .box .name {
        padding: 12px 7px;
        width: 49%;
    }

    .box .em {
        padding: 12px 7px;
        width: 49%;
    }

    .box .mes {
        padding: 12px 6px;
    }

    .box .btn {
        left: 487px;
    }

    .footer-sub .foot-btn {
        padding: 16px 36px;
    }

    .footer-sub h5 {
        margin: 24px 5px;
        font-size: 15px;
    }

    .main-div {
        padding: 50px 0px;
        margin: 0px 17px;
        /* border: 2px solid green; */
    }
}



@media screen and (max-width : 320px) {
    /* .menubar-main {
        position: relative;
        left: 96.5%;
    }

    .menubar {
        display: flex;
        border: 2px solid red;
        height: 49px;
        width: 51px;
        flex-direction: column;
        gap: 5px;
    }

    .menubar .menu-item {
        height: 20%;
        background-color: black;
        margin: 2px 7px;
    } */

    /* .menubar {
        border: 2px solid green;
        height: 10px;
        width: 10px; DOUT
    } */
    .logoheader {
        display: flex;
        border: 2px solid black;
        padding: 0px;
        gap: 0px;
        width: 100%;
        flex-direction: column;
        background-color: white;
        position: fixed;
    }

    /* .menubar-main {
        position: relative;
        left: 269px;
    } */

    .menubar {
        width: 33px;
        height: 28px;
        border: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        gap: 3px;
    }

    .menubar .menu-item {
        width: 10px;
        border-radius: 1px;
        border: 1px solid white;
    }

    .logoheader li {
        font-size: 17px;
        padding: 10px;
    }

    .about-sub {
        flex-wrap: wrap;
        border: 1px solid violet;
    }

    .about-main {
        margin: 0px 15px;
        padding: 52px 0px;
        /* border: 2px solid green; */
    }

    .about-sub p {
        display: none;
    }

    .about-sub .container {
        width: 100%
    }

    .about-img {
        /* height: 283px; */
        width: 100%;
    }

    .portof-head {
        flex-direction: column;
    }

    .website-title .heig2 {
        display: none
    }

    .website-title .heig3 {
        border: 2px solid black;
        background-color: black;
        color: white;
        letter-spacing: 6px;
        padding: 9px;
        text-align: center;
        display: inline;
    }


    .about-content h5 {
        font-style: italic;
        color: #6c5f5f82;
        margin: 18px 0px;
        text-align: center;
        font-family: "Lato", sans-serif;
    }


    .about-content p {
        font-size: 17px;
        line-height: 25px;
    }

    .container h4 {
        text-align: center;
        margin: 6px 0px;
    }

    .about-perc {
        padding: 0px;
        /* DOUT */
    }

    .porto-back .back-image {
        background-position: center;
    }

    .images-main {
        margin: 0px 15px;
    }

    .sent h5 {
        font-style: italic;
    }

    .img-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0px;
        padding: 0px;
        margin: 0px 20px;
    }

    .images-main {
        margin: 0px;
    }

    .img-item img {
        height: 100%;
        width: 100%;
        margin: 0px;
    }

    .cam-img {
        height: 100%;
        background-position: center;
    }

    .main-addr {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }

    .sub-image {
        margin: 0px;
        width: 100%;
    }

    .sub-address {
        padding: 0px;
    }

    .addr-inp {
        gap: 0px;
    }

    .addr-inp .comm {
        width: calc(100% / 1);
    }

    .addr-inp .mes {
        width: calc(100% / 1);
        margin: 5px 0px;
    }

    .send-btn button {
        margin: 0px;
    }

    .home {
        display: flex;
        justify-content: space-between;
    }
}